
nav {
  display: none;
  grid-template-columns: 10fr 1fr 1fr;
}


.logo .logo-link {
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: white;
}

.logo .logo-img {
  margin-right: 0.5em;
  width: auto;
  height: 6vh;
}

.logo .logo-heading {
  font-size: 30px;
  margin: 0%;
}




@media (min-width:701px) {

  nav{
    display: flex;
    justify-content: space-evenly;
    padding-top: 1em;
  }
  .logo {
    margin: 0%
  }
  .logo .logo-link {
    display: flex;
    justify-content: flex-start;
    text-decoration: none;
    color: white;
  }
  .logo .logo-heading {
    font-size: 30px;
    padding-bottom: 0.25em;
    margin: 0%;

  }
  .menu-item {
    font-size: 17px;
  }
  .logo .logo-img {
    margin-right: 0.5em;
    width: auto;
    height: 8vh;
  }

}